{% extends "base.html" %}
{% load static %}
{% block content %}
<html>

<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Late
	st compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<link href="{% static 'css\about.css' %}" rel="stylesheet" type="text/css">
</head>

<body>


	<img src="{% static 'images\aboutus-img.jpg' %}" height="auto" width="100%">


	<div class=" col-lg-12 col-xs-12 block-2">
		<div class="container">
			<div class="col-lg-6 col-xs-12 left-part">
				<img src="{% static 'images\reception.jpg' %}" style="width:100%; height:400px" alt="About us">
			</div>
			<div class="col-lg-6 col-xs-12 right-part">

				<h1 class="heading">About us</h1>
				<p>
					It is a long established fact that a reader will be distracted by the readable content of a page
					when looking at
					its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
					letters, as opposed
					to using 'Content here, content here', making it look like readable English. Many desktop publishing
					packages and
					web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
					will uncover many
					web sites still in their infancy.
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered
					alteration in some
					form, by injected humour, or randomised words which don't look even slightly believable. If you are
					going to use
					a passage of Lorem Ipsum, you need to be sure
				</p>

			</div>
			<hr class="line">

			<div class="col-lg-6 col-xs-12 left-bottom">
				<h1 class="heading">Why Guest Choose Skyline Hotel?</h1>
				<p>
					It is a long established fact that a reader will be distracted by the readable content of a page
					when looking at its layout.
					The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
					opposed to using 'Content here,
					content here', making it look like readable English. Many desktop publishing packages and web page
					editors now use Lorem Ipsum
					as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
					their infancy. Various versions
					have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the
					like).
				</p>

			</div>
			<div class="col-lg-6 col-xs-12 right-bottom">
				<img src="{% static 'images\images-7.jpg' %}" width="100%" height="400px" alt="About us">

			</div>
		</div>
	</div>
{% endblock content %}
