{% extends "base.html" %}
{% load static %}
{% block content %}
<html>

<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Late
	st compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<link href="{% static 'css\room.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

	<div class="col-lh-12 col-xs-12 main">

		<center>
			<h1 class="heading">Our Infrastructure</h1>
		</center>

		<div class="container">
			<div class="col-lg-12 col-xs-12 room1">
				<div class="col-lg-7 col-xs-12 image">
					<img src="{% static 'images\deluxe-room1.jpg' %}">
				</div>
				<div class="col-lg-5 col-xs-12 details">
					<h1 class="heading">Deluxe Room</h1>
					<h3>$150 Per Night</h3>
					<br>
					<li>Maximum 4 persons</li>
					<li>Size-55Square meter</li>
					<li>King size Bed</li>
					<li>Ocean View</li>
					<li>Three Time Food</li>
					<li>Mini Refigerator</li>

					<br>
					<a href="#" class="btn btn-info btn-default btn-lg" role="button">Book Now</a>

				</div>
			</div>


			<hr>
			<div class="col-lg-12 col-xs-12 room1">
				<div class="col-lg-5 col-xs-12 details">
					<h1 class="heading">Family Room</h1>
					<h3>$120 Per Night</h3>
					<br>
					<li>Maximum 5 persons</li>
					<li>Size-50Square meter</li>
					<li>3 Double Bed</li>
					<li>Sea Facing Balcony</li>
					<li>Two Time Food</li>
					<li>Mini Refigerator</li>

					<br>
					<a href="#" class="btn btn-info btn-default btn-lg" role="button">Book Now</a>

				</div>

				<div class="col-lg-7 col-xs-12 image">
					<img src="{% static 'images\famil.jpg' %}">
				</div>

			</div>
			<hr>

			<div class="col-lg-12 col-xs-12 room1">
				<div class="col-lg-7 col-xs-12 image">
					<img src="{% static 'images\single-room.jpg' %}">
				</div>
				<div class="col-lg-5 col-xs-12 details">
					<h1 class="heading">Single Room</h1>
					<h3>$80 Per Night</h3>
					<br>
					<li>Maximum 2 persons</li>
					<li>Size-35Square meter</li>
					<li>Small size Bed</li>
					<li>No Balcony</li>
					<li>Two time Food</li>
					<li>Mini Refigerator</li>

					<br>
					<a href="#" class="btn btn-info btn-default btn-lg" role="button">Book Now</a>

				</div>
			</div>

		</div>
	</div>
{% endblock content %}
