{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css\signUp.css' %}">
</head>

<body>
    <div class="signUppage">
        <h1>SignUp Page</h1>
        <form action="signUp" id="form2" method="post">{% csrf_token %}

            <label for="name"><b>First Name</b></label>
            <input type="text" placeholder="Enter Your Name" name="name"><br><br>

            <label for="lastname"><b>Last Name</b></label>
            <input type="text" placeholder="Enter Your Lastname" name="lastname"><br><br>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email"><br><br>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw"><br><br>

            <input type="submit" id="button" value="SignUp">

        </form>
    </div>
    {% endblock content %}